* {
  padding: 0;
  margin: 0;
  box-sizing: border-box-;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
.our-text {
  padding: 96px 378px 170px 354px;
  background-color: rgba(239, 247, 242, 1);
}
.our-text__h1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(29, 33, 48, 1);
}
.our-brand {
  padding: 48px;
  display: flex;
  gap: 48px;
}
.our-joylashuv {
  display: flex;
  align-items: center;
  gap: 8px;
}
.our-joylashuv__p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0px;
  color: rgba(29, 33, 48, 1);
}
.text {
  padding: 96px 378px 170px 354px;
}
.text-about {
  font-family: Roboto;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0px;
  color: rgba(29, 33, 48, 1);
  align-items: center;
}
.text-gap {
  padding: 32px 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0px;
  color: rgba(82, 85, 96, 1);
}
.cards {
  padding: 96px 378px 354px;
  justify-content: center;
  align-items: center;
}
.cards-p {
  font-family: Roboto;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0px;
  color: rgba(29, 33, 48, 1);
}
.card {
  padding-top: 48px;
}
.event-card {
  border-radius: 8px;
  padding: 32px 48px 40px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 768px;
  background-color: rgba(190, 243, 192, 1);
  margin-bottom: 24px;
}
.event-date {
  text-align: center;
  margin-right: 20px;
}
.event-date .day {
  font-family: Roboto;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0px;
  font-variant: small-caps;
  color: rgba(29, 33, 48, 1);
}

.event-date .month {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(29, 33, 48, 1);
}

.event-info .label {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(29, 33, 48, 1);
}
.event-info .title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0px;
  color: rgba(29, 33, 48, 1);
  margin-top: 5px;
}
.arrow-btn {
  width: 56px;
  height: 56px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(29, 33, 48, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}
